.mainbody{
	padding-top:150px;
	width:100%;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.form-container{
	width:100%;
}

.form-container form{
	padding: 20px 0;
	margin:0 auto;
	width:35%;
	background: #fff;
	border-radius: 5px;
}

.form-container form div{
	width: 100%;
	height:40px;
	margin: 20px 0;
	margin-left: 50%;
	transform: translateX(-50%);
}

.form-container div input{
	width:80%;
	height: 100%;
	margin:0 auto;
	font-size: 1rem;
}

.errormess{
	color: red;
}

#submit{
	font-size:1rem;
}

.choice{
	box-sizing: border-box;
	padding: 3px 5%;
	text-decoration: none;
}

.choice:hover{
	text-decoration: none;
	cursor: pointer;
}