<% include ../includes/header.html %>
<article>
	<div class="alllist">
	<% 
		if (!error){
			for (var i = bloglist.length - 1; i >= 0; i--){ 
			var blogitem = bloglist[i];
			var useritem = userlist[i];
	%>
			<div class="usermess">
				<div><a href=""><img src="/images/<%= useritem.icon %>" />
				</a></div>
				<div><a href="#"><%= useritem.name %></a></div>
				<div><%= blogitem.date %></div>
				<div><%= blogitem.tag %></div>
			</div>
			<div class="blog-title"><a href="/blog/<%= blogitem._id%>" style="color:#000">
			<%= blogitem.title %></a>
			</div>
			<div class="blog-content"><%= blogitem.content %></div>
			<div class="footer">
				<div>
				<i class="fa fa-eye" aria-hidden="true">&nbsp;<%= blogitem.look_num %></i>
				</div>
				<div>
				<i class="fa fa-heart" aria-hidden="true">&nbsp;<span id="like"><%= blogitem.like_num %><span></i>
				</div>
				<div id="review">
				<i class="fa fa-envelope-open" aria-hidden="true">&nbsp;<%= blogitem.review_num %></i>
				</div>
			</div>
			<hr>
	<%
		}
	}else{
	%>
		<div><%= error %></div>
	<%
	}
	%>
	</div>
	<% include ../includes/footer.html %>
</article>

</body>
</html>