<!DOCTYPE html>
<html>
<head>
	<title>小静博客——注册</title>
	<meta charset="utf-8">
	<meta name="viewpost" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="shadow"></div>

<article>

	<section class="mainbody">
		<div class="form-container">
			<form action="/doRegister/" method="post">
				<div>
					<a class="h3 choice" style="color:#ccc" href="/login/">登录</a>
					<a class="h3 choice" style="border-bottom: red 2px solid;" href="/register/">注册</a>
				</div>
				<div>
					<input type="text" name="username" placeholder="用户名" id="username" class="form-control">
				</div>
				<div>
					<input type="text" name="useremail" placeholder="邮箱" id="useremail" class="form-control">
				</div>
				<div>
					<input type="password" name="userpass" placeholder="密码" id="userpass" class="form-control">
				</div>
				<div>
					<input type="submit" name="submit" value="注册" id="submit" class="btn btn-primary">
				</div>
			</form>
		</div>
	
		<div></div>
	</section>
	
	<footer>
		<div>
			<a class="btn btn-primary btn-lg">快快加入吧！</a>
			<div class="foot-word">体验从未有过的体验</div>
			<hr>
			<div>
				<p>© Copyright HighOJ</p>
				<p>2011-2015 京ICP备12034000号-2 京公网安备11010802011553号</p>
				<p>Lovingly made by WPH95</p>
			</div>
		</div>
	</footer>

</article>


<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>
</html>